.tittleHome{
    font-family: "Playfair Display";
    color: #fff;
    font-size: 96px;
    margin: 0px;
}
.textHome{
    margin: 0px;
    font-size: 20px;
    font-family: "inter";
    padding: 0px 0px 32px 7px;
}